body {
    color: rgb(0, 135, 0);
}
* {
    margin: 0; 
    padding: 0;
}



.medium-small-image {
    width: 330px;
    height: 200px;
}


li {
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    margin-left: 50px;
}
ul {
    text-align: right;
    margin-right: 50px;
}